---
import { render } from "astro:content";
import type { ChannelEntries } from "../../types";
import KFDate from "../core/KFDate.astro";

type Props = {
	post: ChannelEntries;
};

const { post } = Astro.props;
const { Content } = await render(post);
---

<div class="window">
  <div class="window-content">
    <h3 class="name-small">{post.data.author}</h3>
    <span class="date">
      <KFDate date={post.data.date} />
    </span>
    <span class="id">
      No: <a href={`#${post.id}`} >{post.id}</a>
    </span>
    
    {
    post.data.thumbnail && 
    <br />
    <>file:</> <a href={post.data.thumbnail} target="_blank">{post.data.filename}</a> <>(file/{post.data.mimetype})</>
    <br />
    <img class="post-image" loading="lazy" src={post.data.thumbnail} /> 
    }
   
    <Content />
  </div>
</div>
